.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    .header-img {
        margin: 0 20px;
        img {
            height: 400px;
        }
    }
}